* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
ul {
  list-style: none;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./map.jpg);
  background-position: center;
  background-size: 100vw;
  background-repeat: no-repeat;
  background-size: auto;

}

.wrapper {
  position: absolute;
  width: 600px;
  background: #000814;
  border-radius: 20px;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
  overflow: hidden;
  padding: 20px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.5) 0px 18px 36px -18px inset;
}
.wrapper h1 {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  padding: 20px 25px;
}
.content .word {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.word input {
  border-radius: 10px;
  height: 50px;
  width: 50px;
  margin: 4px;
  color: #1565c0;
  border: 1px solid #b5b5b5;
  background: none;
  text-align: center;
  text-transform: uppercase;
  pointer-events: none;
  font-style: 20px;
  font-weight: 500;
}
.type-input {
  z-index: -999;
  position: absolute;
  pointer-events: none;
  opacity: 0;
}

.word input:first-child {
  margin-left: 0;
}
.content .info {
  margin: 20px 0;
}
.info p {
  font-size: 16px;
  margin-bottom: 10px;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flag {
  max-width: 345px;
}
.country__flag {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.btn {
  font-size: 18px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.btn:focus,
.btn:hover {
  color: #fff;
}

.btn:focus:after,
.btn:hover:after {
  width: 100%;
  left: 0%;
}

.btn:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
@media screen and (max-width: 450px) {
  .wrapper {
    width: 100%;
  }
  .wrapper h1 {
    font-size: 20px;
    padding: 16px 20px;
  }
  .wrapper .content {
    margin: 25px 20px 30px;
  }
  .word input {
    height: 46px;
    width: 45px;
    margin: 3px;
    font-size: 19px;
  }
  .content .info p {
    font-size: 15px;
  }
  .content .buttons .reset {
    padding: 9px 0;
    font-size: 15px;
  }
}
